<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/feed.css">
</head>
<body>
  <a href="/profile" class="button">Profile</a>
    <div class="gallery flex">
      <% feed.forEach(function(post){ %>
        <div class="gallery-item" style="width: 18rem;">
          <figure>
            <img src="/images/uploads/<%=post.image%>" alt="dog" />
            <figcaption><%=post.postText%></figcaption>
          </figure>
        </div>
      <%}) %>
        
        
      </div>
</body>
</html>